  <div class="coming_soon">
    <p>Bienvenido a <strong>El Juego de La Ciencia</strong>, desde acá podrás comuncarte y llevar a tu casa, colegio o donde quieras los experimentos más divertidos. Si quieres disfrutar más de lo que hacemos y seguir nuestras publicaciones, síguenos en <a href="https://www.facebook.com/eljuegodelaciencia" class="link">Facebook</a>. Siguenos en <a href="https://twitter.com/juegodlaciencia" class="link">Twitter</a> para aprender tips científcos divertidos y si quieres ver lo que hacemos y cómo lo hacemos, suscribete en <a href="http://www.youtube.com/user/eljuegodelaciencia" class="link">Youtube </a></p>
  </div>

  <div class="video">
    <iframe width="600" height="315" src="//www.youtube.com/embed/GeeP6DlL2rA" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="twitter_panel">
    <a class="twitter-timeline" href="https://twitter.com/juegodlaciencia" data-widget-id="443074230712676354">Tweets por @juegodlaciencia</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>