<div id='calendar'></div>
<%= render 'form' %>
<script type="text/javascript">
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        events:'http://www.google.com/calendar/feeds/kfhck8hfrecneho31q1ofug8u8%40group.calendar.google.com/public/basic',
        dataType : 'jsonp'
        
    });

});
</script>